
<h1>@ViewData["Title"]</h1>

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <link rel="icon" href="~/imges/favicon.png" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <!-- font awesome style -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />

</head>

<body>

    <div class="hero_area">

      
        <!-- slider section -->
        <section class="slider_section ">
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="detail-box">

                                        <h1>
                                            Thank you for choosing our bookstore.<br />
                                            
                                            
                                        </h1>
                                        <h3>We look forward to serving you!</h3>
                                        
                                        
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="img-box">
                                        <img src="~/imges/slider-img.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="detail-box">
                                       
                                        <h1>
                                            
                                            Welcome to our bookstore
                                            
                                        </h1>
                                        <h2>where each book is a portal to adventure and enlightenment</h2>
                                        
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="img-box" style="height: 400px; width: 500px;"> <img src="~/imges/mk.png" alt="" class="img-fluid w-100 h-100"> </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="detail-box">
                                       
                                        <h1>
                                            Sell Your Book
                                                    
                                        </h1>
                                        <p>
											<h2>book landing theme </h2>
                                        </p>
                                       
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="img-box" style="height: 400px; width: 500px;"> <img src="~/imges/imj.png" > </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </section>
        <!-- end slider section -->
    </div>


    <!-- about section -->

    <section class="about_section layout_padding" >
        <div class="container ">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="~/imges/about-img.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                About Our Books Store
                            </h2>
                        </div>
                        <p>
                            Welcome to our bookstore! We are passionate about connecting readers with their next favorite book. Our journey began with a simple idea: to create a space where book lovers can explore, discover, and indulge in their love for literature. Whether you're seeking the latest bestseller, a timeless classic, or a hidden gem, our curated collection has something for everyone. Beyond offering a wide range of titles, we strive to foster a community where ideas are exchanged, stories are shared, and connections are made. Join us in celebrating the magic of books and the joy of reading.
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end about section -->
    <!-- client section -->

    <section class="client_section layout_padding">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>
                    What Says Customers
                </h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="client_container ">
                        <div class="detail-box">
                            <p>
                                I'm thrilled to have discovered this online bookstore! Their selection of books is impressive, and I was able to find titles that I couldn't find elsewhere. The ordering process was simple and efficient. I'm already planning my next order!
                            </p>
                            
                        </div>
                        <div class="client_id">
                            <div class="img-box">
                                <img src="~/imges/c1.jpg" alt="">
                            </div>
                            <div class="client_name">
                                <h5>
                                    Jone Mark
                                </h5>
                                <h6>
                                    Student
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mx-auto">
                    <div class="client_container ">
                        <div class="detail-box">
                            <p>
                                I was pleasantly surprised by the quality of service and the speed of delivery. The books were carefully packaged, and I found exactly what I was looking for. I highly recommend this site to all book lovers!
                            </p>
                            
                        </div>
                        <div class="client_id">
                            <div class="img-box">
                                <img src="~/imges/c2.jpg" alt="">
                            </div>
                            <div class="client_name">
                                <h5>
                                    Anna Crowe
                                </h5>
                                <h6>
                                    Student
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mx-auto">
                    <div class="client_container ">
                        <div class="detail-box">
                            <p>
                                I've been a loyal customer for months now, and I've never been disappointed. The variety of genres offered is fantastic, and I especially appreciate the personalized recommendations. The customer service is also excellent - they're always there to answer my questions and resolve any issues.
                            </p>
                            
                        </div>
                        <div class="client_id">
                            <div class="img-box">
                                <img src="~/imges/c3.jpg" alt="">
                            </div>
                            <div class="client_name">
                                <h5>
                                    Hilley James
                                </h5>
                                <h6>
                                    Student
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end client section -->
    <!-- contact section -->

    <section class="contact_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="heading_container ">
                        <h2 class="">
                            Contact Us
                        </h2>
                    </div>
                    <form action="#">
                        <div>
                            <input type="text" placeholder="Name" />
                        </div>
                        <div>
                            <input type="email" placeholder="Email" />
                        </div>
                        <div>
                            <input type="text" placeholder="Pone Number" />
                        </div>
                        <div>
                            <input type="text" class="message-box" placeholder="Message" />
                        </div>
                        <div class="btn-box">
                            <button>
                                SEND
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="~/imges/contact-img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end contact section -->
  
    <!-- info section -->

    <section class="info_section layout_padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 info-col">
                    <div class="info_detail">
                        <h4>
                            About Us
                        </h4>
                        <p>
                            We are committed to providing our customers with the best selection of books at the best prices
                        </p>
                        
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 info-col">
                    <div class="info_contact">
                        <h4>
                            Address
                        </h4>
                        <div class="contact_link_box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    www.BooksStore.com
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    Call +212 678220098
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    BookssStore@gmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 info-col">
                    <div class="info_contact">
                        <h4>
                            Newsletter
                        </h4>
                        <form action="#">
                            <input type="text" placeholder="Enter email" />
                            <button type="submit">
                                Subscribe
                            </button>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <!-- end info section -->
    
    </footer>
    <!-- footer section -->
    <!-- jQery -->
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/js/bootstrap.js"></script>
    <!-- custom js -->
    <script src="~/js/custom.js"></script>
    

</body>

</html>